

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	height: 50px}

header .socialLinks {
	height: 45px;
}

header .socialLinks img{
	height: 30px;
	width: 30px;
	position:relative;
	right: 20px;
}


li {
	list-style-type: none;
	display: inline-block;
}


header .heading {
	height: 45px;
}

header .heading h3{
	position: relative;
	bottom: 110px;
	color: white;
}

header .heading span {
	position: relative;
	top: 28px;
}

button{
	position: relative;
	border: none;
	background-color: black;
	top: 1px;
	cursor: pointer;
}

button img {
	height: 47px;
	display: block;
}
body {
	background-color: black;
	width: 1500;
}

#sidebar {
	font-family: BeteNoirA;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 300px;
	height: 100%;
	background-color: black;
	right: 17000px;
	transition: .4s;
}


#sidebar.active {
	right: 0;
}
#sidebar ul li {
	list-style: none;
	color: white;
	font-size: 20px;
	padding: 20px 24px;
}

#sidebar .toggle-btn {
	position: absolute;
	top: 30px;
	left: 330px;
}

.toggle-btn span{
	width: 45px;
	height: 4px;
	background:black;
	display: block;
	margin-top: 4px;
}

.main{
background-color: white;
}

.main .heading {
	display: flex;
	justify-content: center;
}

#line{
	color: black;
}


.main .container1{

	display: flex;
	justify-content: space-between;
}

.main {
	display: block;
}

.main .container2{
	display: flex;
	justify-content: space-between;
}

.main .container1 img {
	width: 250px;
}

.main .container2 img{
	width: 250px;
}

.price {
	font-size: 20px;
}

.main .container1 .item1 h2{
	justify-content: center;
}

.main .container1 .trolley{
	height: 50px;
	width: 50px;
	background-color: grey;
	border-radius: 50px;
}

.main .container2 .trolley{
	height: 50px;
	width: 50px;
	background-color: grey;
	border-radius: 50px;
}

.fieldTitle{
	display: flex;
}

.fieldNr{
	background-color: black;
	color: white;
	border-radius: 20px;

}

.main .content fieldset span{
	display: flex;
	justify-content: center;
	width: 20px;
	height: 20px;
	position: relative;
	top: 17px;
}

.main .content fieldset {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
